.swiper-slide {
    width: fit-content !important;
    height: auto !important;
}

.custom-bar {
    width: 100%;
    height: 5px;
    background: #ddd;
    border-radius: 3px;
    overflow: hidden;
}

.custom-bar .fill {
    height: 100%;
    background: #2196f3;
    transition: width 0.3s ease;
}

.swiper-pagination-progressbar-fill {
    background: #ff6600a3 !important;
}

.swiper-button-prev,
.swiper-button-next {
    width: 80px !important;
    height: 70px !important;
    color: #f2ff00 !important;
    background-color: #ffc40089 !important;
    border-radius: 30px !important;
    font-weight: bolder !important;
    padding-top: 1%;
    padding-bottom: 1%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
    /* chỉnh kích thước mũi tên */
    color: black !important;
    /* chỉnh màu */
    font-weight: bold;
}


/* FOR TABLET */
@media (max-width: 992px) {

    .swiper-button-prev,
    .swiper-button-next {
        padding-top: 5%;
        padding-bottom: 5%;
    } 
}