.user-content {
    padding-top: 7vh;
}

.user-content .form-label {
    font-size: larger;
    font-weight: bold;
}

.user-content .form-group {
    margin-block: 20px;
}

.user-content .form-control {
    padding: 10px;
    font-size: large;
    background-color: rgb(238, 214, 184);
}

[data-bs-theme="dark"] .user-content .form-control {
    background: rgb(55, 55, 55)
}


/* FOR TABLET */
@media (max-width:992px) {
    .user-content {
        padding-top: 5vh;
    }
}

/* FOR MOBILE */
@media (max-width:448px) {
    .user-content {
        padding-top: 15vh;
    }
}