.orders-filter {
    display: flex;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.orders-filter .btn {
    color: grey;
    background: none !important;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-radius: 3px !important;
    margin-block-end: 0 !important;
    margin-inline: 5px !important;
    padding-block: 2vh !important;
    padding-inline: 2vw !important;
}

.orders-filter .btn#Pending.active, .orders-filter .btn#Pending:hover {
    color: rgb(218, 0, 218);
    border-bottom: 3px solid rgb(218, 0, 218);
}

.orders-filter .btn#Processing.active, .orders-filter .btn#Processing:hover {
    color: rgb(242, 145, 0);
    border-bottom: 3px solid rgb(242, 145, 0);
}

.orders-filter .btn#Delivering.active, .orders-filter .btn#Delivering:hover {
    color: rgb(70, 133, 231);
    border-bottom: 3px solid rgb(70, 133, 231);
}

.orders-filter .btn#Completed.active, .orders-filter .btn#Completed:hover {
    color: rgb(0, 187, 12);
    border-bottom: 3px solid rgb(0, 187, 12);
}