.home {
    height: auto;
    width: 100%;
    padding-top: 117px;
    color: white;
}

.home-content {
    width: 100%;
    height: auto ;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.content-title {
    font-size: 4.2rem;
    font-weight: bold;
    color: #ff6600;
}

/* FOR TABLE */
@media (max-width: 992px) {
    
    .home-content {
        padding-top: 7vh;
    }
    .content-title {
    font-size: 2.5rem;
}
}