.item-card {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    width: 40%;
    gap: 10%;
    padding: 2%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.item-card.off-sale {
    background-color: rgb(220, 220, 220) !important;
}

.item-card img {
    height: 100px;
    width: auto;
}

.item-card-btn {
    width: 130px;
}

.sale-btn {
    background-color: rgb(34, 197, 94);
    border: 1px solid rgb(34, 197, 94);
}
.sale-btn:hover, .sale-btn:active {
    background-color: rgb(22, 163, 74) !important;
    border: 1px solid rgb(22, 163, 74) !important;
}

.stop-selling-btn {
    background-color: rgb(239, 68, 68); /* đỏ tươi */
    border: 1px solid rgb(239, 68, 68);
}
.stop-selling-btn:hover,
.stop-selling-btn:active {
    background-color: rgb(220, 38, 38); /* đỏ đậm hơn khi hover */
    border: 1px solid rgb(220, 38, 38);
}

.delete-btn {
    background-color: rgb(252, 165, 165); /* đỏ nhạt, pastel */
    border: 1px solid rgb(248, 113, 113); /* đỏ vừa phải */
}
.delete-btn:hover,
.delete-btn:active {
    background-color: rgb(248, 113, 113); /* đỏ vừa phải khi hover */
    border: 1px solid rgb(220, 38, 38); /* viền đỏ đậm để nhấn mạnh */
}
