.order-content {
    border-bottom: 1px solid grey;
    margin-block: 5px;
    color: grey;
}

span.Pending {
    color: rgb(218, 0, 218);
}
span.Processing {
    color: rgb(242, 145, 0);
}
span.Delivered {
    color: rgb(0, 187, 12);
}