.cart-page {
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background-size: cover;
  background-position: center;
  padding: 100px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cart-container {
  max-width: 900px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}
[data-bs-theme="dark"] .cart-container {
  background: rgb(47, 47, 47);
}

.cart-title {
  text-align: center;
  margin-bottom: 20px;
  color: #ff6600;
  font-weight: bold;
}

.cart-address {
  font-size: 16px;
  margin-bottom: 20px;
}

.cart-address span {
  color: #e65c00;
  font-weight: 600;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
[data-bs-theme="dark"] .cart-item {
  background: rgb(55, 55, 55)
}

.cart-img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.cart-info {
  flex: 1;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-controls button {
  background: #ff9800;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.qty-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cart-subtotal {
  font-weight: bold;
  min-width: 110px;
  text-align: right;
}

.cart-summary {
  margin-top: 30px;
  text-align: right;
}

.cart-summary .btn {
  background: #ffa620;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 1.5rem;
  margin-top: 0.8rem;
}

.cart-summary .btn:hover {
  background: #ffda09;
}

.cart-summary__btn-checkout {
  background: forestgreen !important;
}
.cart-summary__btn-checkout:hover{
  background: rgb(43, 174, 43) !important;
}
.cart-summary__btn-checkout:active{
  background: rgb(55, 233, 55) !important;
}

.remove-btn {
  background: #b42100;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0.3rem;
}

.cart-summary .remove-all-btn {
  background: #b42100;
  color: white;
  margin-left: 0;
}
.cart-summary .remove-all-btn:hover {
  background: #e92b00;
}
.cart-summary .remove-all-btn:active {
  background: #ff5a35;
}