.customed-card {
    margin-top: 3rem;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}
.customed-card:hover {
    transform: translateY(-8px);
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
}

.image-wrapper {
    height: 70%;
    overflow: hidden;
}
.image-wrapper img{
    transition: 0.3s ease;
}
.customed-card:hover img{
    transform: scale(1.2);
    transition: 0.3s ease;
}

.card-title {
    color: #ff8c09;
}