name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Lấy code về
    - uses: actions/checkout@v4

    # 2. Cài Java 17
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # 3. Build và Test (Chỉ cần lệnh này là đủ)
    # -B: Batch mode (ít log rác hơn)
    # package: Chạy test xong sẽ đóng gói ra file .jar
    - name: Build and Test with Maven
      run: mvn -B package --file pom.xml
