.floating-add-btn {
  position: fixed;       /* Giữ cố định vị trí */
  top: 40px;          /* Cách mép dưới 20px */
  right: 20px;           /* Cách mép phải 20px */
  z-index: 1000;         /* Nổi lên trên các phần tử khác */
  background-color: #ff8c00;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  padding: 16px;
}

.floating-btn:hover {
  background-color: #ff6600;
  transform: scale(1.1);
}
